@use "../../responsive.scss" as *;

.dashboard {
  width: 100%;
  height: 100vh;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;

  @include sm {
    flex-direction: column;
  }
}

