.dashboard {
  width: 100%;
  height: 100vh;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;

  .dashboardContent {
    display: flex;
    flex: 1;
    overflow: hidden;
    
    .watchListSection {
      width: 25%;
      background-color: #ffffff;
      border-right: 1px solid #e5e7eb;
      overflow-y: auto;
    }

    .overviewSection {
      flex: 1;
      padding: 24px;
      overflow-y: auto;
    }
  }
}