.login {
  height: 100vh;
  display: flex;
  background-color: #f8fafc;

  .formContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      width: 350px;
      padding: 30px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
      display: flex;
      flex-direction: column;
      gap: 20px;
       
      h1 {
        text-align: center;
        flex-direction: column;
        gap: 20px;
      }

      input {
        padding: 12px;
        border: 1px solid #cbd5e1;
        border-radius: 6px;

        &:focus {
          outline: none;
          border-color: #2563eb;
        }
      }

      button {
        padding: 12px;
        border-radius: 6px;
        background-color: #2563eb;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: background 0.2s;

        &:hover {
          background-color: #1e40af;
        }
      }
      a{
        color: #1e40af;
      }
    }
  }
}