@use "../../responsive.scss" as *;

.navbar {
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;

  .marketIndex {
    display: flex;
    gap: 32px;

    .indexItem {
      display: flex;
      flex-direction: column;
      gap: 2px;

      .indexName {
        font-size: 13px;
        font-weight: 600;
        color: #374751;
        margin: 0;
      }

      .indexValue {
        display: flex;
        align-items: center;
        gap: 6px;
        margin: 0;
        
        .price {
          font-size: 14px;
          font-weight: 700;

          &.positive {
            color: #16a34a;
          }

          &.negative {
            color: #dc2626;
          }
        }
      }

      .change {
        font-size: 11px;
        font-weight: 500;
        color: #6b7280;
      }
    }
  }

  .navContent {
    display: flex;
    align-items: center;
    gap: 32px;

    .logo {
      display: flex;
      align-items: center;

      img {
        width: 28px;
        height: 28px;
        object-fit: contain;
        transition: trasnform 0.2s ease;
      }

      &:hover {
        transform: scale(1.08);
      }
    }

    .menu {
      display: flex;
      gap: 30px;
      list-style: none;
      padding: 0;
      
      .navLink {
        a {
          font-size: 14px;
          font-weight: 600;
          color: #374151;
          display: inline-block;
          transition: color 0.2s, transform 0.2s ease;

          &:hover {
            color: #000000;
            transform: scale(1.08);
          }
        }

        &.active a{
          color: #2563eb;
        }
      }
    }
  }

  .profile {
    display: flex;
    align-items: center;

    .profileLink {
      display: flex;
      align-items: center;
      gap: 6px;
      color: #2563eb;
      font-weight: 600;
      font-size: 14px;
      transition: color 0.2s, transform 0.2s ease;

      &:hover {
        color: #1e40af;
        transform: scale(1.08);
      }

      .profileIcon {
      font-size: 20px;
      }
      
      .username {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  @include sm {
    display: none;
  }
}